PORT=
JWT_SECRET=
NODE_ENV=
DATABASE_PASSWORD=
DATABASE_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
MIDTRANS_CLIENT_KEY=
MIDTRANS_SERVER_KEY=
MIDTRANS_MERCHANT_ID=
MIDTRANS_IS_PRODUCTION=
DIALOGFLOW_PROJECT_ID=
CLIENT_URL=
GOOGLE_APPLICATION_CREDENTIALS=
GEMINI_API_KEY=